<p><%= image_tag "timestamp.gif"%><span>Using image_tag</span></p>
<p><span class="embedded">Using img url with image embedded in stylesheet</span></p>
<p><span class="relative">Using img url with path relative to stylesheet</span></p>
<p><span class="root">Using img url with rooted path</span></p>
