<!DOCTYPE html>
<html>
<head>
  <title>JammitS3Testapp</title>
  <%= include_stylesheets :common, :media => 'all' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

  <%= include_javascripts :application %>
</body>
</html>
